@media only screen and (max-width: 426px) {
  body {
    padding-left: 10px;
  }

  nav a {
    display: inline-block;
    margin-right: 3px;
    color: orange;
    padding: 5px;
    background-color: green;
    text-decoration: none;
    align-content: center;
    font-size: 47px;
  }

  #title {
    color: green;
    margin-left: inherit;
    margin-right: inherit;
    font-size: 70px;
  }

  #meet {
    color: green;
    font-size: 50px;
  }

  #details {
    color: green;
    font-size: 50px;
  }

  .intro {
    display: grid;
    grid-template-areas:
      "meet_heading meet_heading"
      "meet_description meet_description"
      " meet_pic  meet_pic";
  }

  .meet_heading {
    grid-area: meet_heading;
    align-content: center;
    margin: auto;
  }

  .meet_pic {
    grid-area: meet_pic;
    margin-top: 40px;
    margin-right: 30px;
    margin-left: 10px;
  }
  .meet_pic img {
    border-radius: 5px;
    border: 2px solid grey;
    padding: 5px;
    width: 100%;
  }
  .meet_description {
    grid-area: meet_description;
    padding: 20px;
    font-size: 35px;
    text-align: justify;
  }
  .meet_description p {
    font-size: 130%;
  }

  .where {
    display: grid;
    grid-template-areas:
      "details_heading details_heading details_heading details_heading"
      "details_pic details_description details_description details_description";
  }

  .details_heading {
    grid-area: details_heading;
    margin: auto;
  }

  .details_pic {
    grid-area: details_pic;
    margin: auto;
  }
  .details_pic img {
    max-width: 500px;
    max-height: 400px;
    border-radius: 5px;
    border: 2px solid grey;
    padding: 5px;
  }

  .details_description {
    grid-area: details_description;
    margin: auto;
    font-size: 25px;
  }
  .details_description p {
    font-size: 130%;
    font-weight: 900;
  }
  .feinstein {
    display: grid;
    grid-template-areas:
      "below_heading below_heading"
      "below_description below_description"
      "below_pic below_pic";
    padding: 20px;
  }

  .below_heading {
    grid-area: below_heading;
    margin: auto;
    font-size: 40px;
  }
  #below {
    color: green;
  }

  .below_pic {
    grid-area: below_pic;
    margin: auto;
  }

  .below_description {
    grid-area: below_description;
    margin: auto;
    font-size: 40px;
    text-align: justify;
  }

  #beach {
    margin: auto;
  }

  .respond {
    text-align: center;
    display: grid;
    grid-template-areas:
      "rsvp_heading rsvp_heading"
      "rsvp_description"
      "rsvp_description rsvp_description";
    padding: 20px;
  }
  #rsvp {
    font-size: 50px;
    color: green;
  }
  .rsvp_description {
    font-size: 40px;
  }

  footer {
    text-align: center;
    padding: 10px;
    border-top: 1px solid grey;
    font-size: 35px;
  }
}
