#resume{
  width: 70%;
  margin-left: 15%;
  border: 1px solid;
  border-color: black;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px
}

#my-image{
  float: right;
  margin-top: 2px;
}

#about{
  margin-top: 60px;
}

h2{
  color: #219c89;
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
}

#header{
  background-color: #219c89;
  color: white;
  padding: 20px;
}

h1{
  font-family: 'Bree Serif', serif;
  font-size: 40px;
}

.a{
  text-decoration: none;
    color: blue;
}
.a:hover{
  color: white;
}

.a1{
  text-decoration: none;
    color: blue;
}

.a1:hover{
  color: black;
}

#about , #comedic , #education, #skills

.font-custom h2{
   font-family: Arial, Helvetica, sans-serif;
}

.para{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 16px;
}
