@media only screen and (min-width: 800px) {
  body {
    margin: 1% 2%;
  }
}

html {
  margin: auto;
  overflow: scroll;
  background-color: #b3f0ff;
}

body {
  width: 1000px;
  margin: auto;
  border: 3px solid;
  border-color: #b3f0ff;
  background-color: #003366;
  padding: 5px;
}

p {
  color: #b3f0ff;
}

nav a {
  display: inline-block;
  margin-right: 3px;
  color: #b3f0ff;
  padding: 5px;
  background-color: #003366;
  text-decoration: none;
  align-content: center;
}

#title {
  color: #b3f0ff;
  margin-left: inherit;
  margin-right: inherit;
}

#meet {
  color: #b3f0ff;
}

#details {
  color: #b3f0ff;
}

.intro {
  display: grid;
  grid-template-areas:
    "meet_heading meet_heading"
    "meet_description meet_pic";
}

.meet_heading {
  grid-area: meet_heading;
  align-content: center;
  margin: auto;
}

.meet_pic {
  grid-area: meet_pic;
  margin-top: 40px;
  margin-right: 30px;
}
.meet_pic img {
  border-radius: 5px;
  border: 2px solid grey;
  padding: 5px;
}
.meet_description {
  grid-area: meet_description;
  padding: 20px;
}
.meet_description p {
  font-size: 130%;
}

.where {
  display: grid;
  grid-template-areas:
    "details_heading details_heading details_heading details_heading"
    "details_pic details_description details_description details_description";
}

.details_heading {
  grid-area: details_heading;
  margin: auto;
}

.details_pic {
  grid-area: details_pic;
  margin: auto;
}
.details_pic img {
  max-width: 600px;
  border-radius: 5px;
  border: 2px solid grey;
  padding: 5px;
}

.details_description {
  grid-area: details_description;
  margin: auto;
}
.details_description p {
  font-size: 130%;
  font-weight: 900;
}
.feinstein {
  display: grid;
  grid-template-areas:
    "below_heading below_heading below_heading"
    "below_description below_description below_pic";
  padding: 20px;
}

.below_heading {
  grid-area: below_heading;
  margin: auto;
}
#below {
  color: #b3f0ff;
}

.below_pic {
  grid-area: below_pic;
  margin: auto;
}

.below_description {
  grid-area: below_description;
  margin: auto;
  font-size: 130%;
  padding-right: 30px;
}

#beach {
  margin: auto;
}

.respond {
  text-align: center;
  display: grid;
  grid-template-areas:
    "rsvp_heading rsvp_heading"
    "rsvp_description"
    "rsvp_description rsvp_description";
  padding: 20px;
}
#rsvp {
  color: #b3f0ff;
  font-size: 25px;
}
.rsvp_description {
  font-size: 20px;
}

footer {
  text-align: center;
  padding: 10px;
  border-top: 1px solid grey;
}

.rep_heading {
  color: #b3f0ff;
  text-align: center;
  font-size: 15px;
}

.representation {
  color: #b3f0ff;
  text-align: center;
}

#rep {
  color: #b3f0ff;
  text-align: center;
}

.rep-filler {
  font-size: 20px;
  padding: 30px;
}

.lonk {
  text-decoration: none;
  color: pink;
}
.lonk:hover {
  color: green;
}

.insta-pic {
  height: 30px;
  margin-left: 10px;
  margin-bottom: 1px;
  background-color: #b3f0ff;
  padding: 5px;
}

.facebook-pic {
  height: 40px;
  margin-left: 20px;
  margin-top: 3px;
  background-color: #b3f0ff;
}

.twitter-pic {
  height: 37px;
  margin-top: 2px;
  margin-left: 25px;
  background-color: #b3f0ff;
  padding: 2px;
}

.social1 {
  font-size: 20px;
  padding: 30px;
}

.social_heading {
  color: #b3f0ff;
  text-align: center;
  font-size: 15px;
}

#social {
  color: #b3f0ff;
  text-align: center;
}

#social_description {
  display: inline-block;
}
