body {
  font-family: "Old Standard TT", serif;
  background-color: #b3f0ff;
  margin-left: 0;
  margin-right: 0;
}

.nd {
  color: #003366;
  font-size: 100px;
  text-align: center;
}

.sub {
  color: #003366;
  font-size: 60px;
  text-align: center;
}

#first {
  margin: auto;
  width: 100%;
}

.main-pic {
  display: block;
  width: 100%;
}

nav a {
  display: inline-block;
  margin-left: 50px;
  color: #b3f0ff;
  padding: 5px;
  background-color: #003366;
  font-size: 20px;
  text-decoration: none;
  align-content: center;
}

.insta-pic {
  height: 40px;
  margin: 10px;
}

.facebook-pic {
  height: 50px;
}

.twitter-pic {
  height: 50px;
}
